body {
    /*Position*/
    position: relative;
    width: 1600px;
    height: 4182px;

    /*typography*/
    font: normal 14px 'Roboto', sans-serif;
    line-height: 140%;
    color: #C4C4C4;

    /*Visual*/
    background-color: #ffffff;
    margin: 0px auto;
}
    /*First Screen image wraper*/

h2 {
    font: normal bold 24px/28px 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

h3 {
    font: normal 500 16px/20px 'Roboto', sans-serif;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

#firstScreen {
    background-image: url(../img/bg-image-wrapper.png);
    position: absolute;
    width: 1600px;
    height: 744px;
    left: 0px;
    top: 0px;
}

    /* header */
.header {
    position: absolute;
    width: 1600px;
    height: 95px;
    left: 0px;
    top: 0px;
}

#logo {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 778px;
    top: 25px;
}


#syllabus {
    position: absolute;
    left: 625px;
    top: 25px;
}
#syllabus:hover {
    cursor: pointer;
    text-decoration: underline;

}


#about {
    position: absolute;
    left: 502px;
    top: 25px;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
}

#project {
    position: absolute;
    left: 923px;
    top: 25px;
}
#project:hover {
    cursor: pointer;
    text-decoration: underline;
}


#faq {
    position: absolute;
    left: 1058px;
    top: 25px;
}
#faq:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*you life is web*/

#promo {
    position: absolute;
    width: 750px;
    height: 150px;
    left: 435px;
    top: 231px;
    display: flex;
    align-items: center;
    text-align: center;
}

#life {
    position: absolute;
    bottom: 24px;
    font: normal 700 64px/75px 'Roboto', sans-serif;
    letter-spacing: 4.5px;
    text-transform: uppercase;

    color: #ffffff;
}

#whatever {
    font: normal 400 18px/25.2px 'Roboto', sans-serif;

    position: absolute;
    left: 113px;
    top: 84px;
    width: 504px;
    height: 50px;
    
}

#firstScreenButton {
    position: absolute;
    left: 706px;
    top: 406px;
}


/*button*/
.wrapper {
    display: flex;
    flex-direction: row;
}

.button {
    font: normal 700 14px/16.41px 'Roboto', sans-serif;
   
    text-transform: uppercase;
    color: #ffffff; 
    width: 184px;
    height: 46px;
    background-color: #00AFDB;
    border: none;
    border-radius: 0px;
    align-items: center;

    
}
.button:hover {
    background-color: #009CC2;
    cursor: pointer;
}


    /* Socials */
    
    #mail {
        position: absolute;
        left: 715px;
        bottom: 89px;
    }
    #mail:hover {
        cursor: pointer;
    }
    #fbook {
        position: absolute;
        left: 765px;
        bottom: 89px;
    }
    #fbook:hover {
        cursor: pointer;
    }
    #instagram {
        position: absolute;
        left: 815px;
        bottom: 89px;
    }
    #instagram:hover {
        cursor: pointer;
    }
    #telegram {
        position: absolute;
        left: 865px;
        bottom: 89px;
    }
    #telegram:hover {
        cursor: pointer;
    }

    /*Second Page*/

#secondScreenWrapper {
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 744px;
} 

.contentBlock {
    text-align: left;
    display: flex;
    align-items: flex-end;
}

#blockSecondPage{
    position: absolute;
    left: 268px;
    top: 295px;
    width: 407px;
    height: 233px;
}

#secondScreenImage {
    position: absolute;
    left: 923px;
    top: 120px;
}

#rappresent {
    position: absolute;
    width: 370px;
    height: 57px;
    left: 0px;
    top: -20px;

    color: #373737;
}

#tasks {
    position: absolute;
    left: 0px;
    top: 64px;

    font: normal 500 14px/19.6px 'Roboto', sans-serif;
    color: #4e4e4e;

}

#secondScreenButton {
    position: absolute;
    left: 0px;
    top: 187px;
}


/* third slide */
#thirdScreen {
    position: absolute;
    width: 1600px;
    height: 504px;
    left: 0px;
    top: 1586px;

    background-color: #f5f6f7;
    overflow:hidden;
}


#ourCommunity {
    position: absolute;
    width: 300px;
    height: 175px;
    left: 276px;
    top: 153px;

    text-align: center;
    color: #4e4e4e;
}

#icon{
    position: absolute;
    left: 127px;
    top: 0px;
}

#ourCommunityText {
    position: absolute;
    width: 300px;
    height: 110px;
    left: 0px;
    top: 48px;


    color: #373737;
}

#ourCommunity_hacker {
    position: relative;
    top: -3px;
}

#slider{
    position: absolute;
    width: 300px;
    height: 244px;
    left: 714px;
    top: 117px;
    display: flex;
 
}

#sliderItem_3{  
}


.sliderItems {
    padding-right: 30px;
    
}

#nav{ 
    font: normal 400 18px/25.2px 'Roboto', sans-serif;
    color: #373737;

    display: flex;
    flex-direction: row;
    align-items: center;

}

#navOption {
    position: absolute;
    width: 83px;
    height: 20px;
    left: 1255px;
    top: 71px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}
#rextangle{
    margin: 0px 10px;
}

#rectangle:hover {
    cursor: pointer;
}

/*fourth page*/

#fourthScreen {
    position: absolute;
    width: 1600px;
    height: 842px;
    left: 0px;
    top: 2090px;
}

#contentImage-2{
    position: absolute;
    width: 407px;
    height: 582px;
    left: 269px;
    top: 120px;
}

#contentBlock-2 {
    position: absolute;
    width: 407px;
    height: 200px;
    left: 815px;
    top: 300px;

    align-items: left;
}

        #contentTitle {

            width: 300px;
            height: 28px;
            left: 0px;
            top: 0px;

            color: #373737;
        }

        #contentText{

            width: 407px;
            height: 60px;
            left: 0px;
            top: 48px;

            color: #373737;
        } 
        
       #learnMore{
            position: absolute;
            width: 180px;
            height: 46px;
            left: 0px;
            top: 158px;
        }

/*Fifth page*/

#fifthScreen {
    
    position: absolute;
    width: 1600px;
    height: 598px;
    left: 0px;
    top: 2932px;

background-image: url(../img/pexels-christina-morillo-1181675\ 1.png);
}

    #form{
        position: absolute;
        width: 406px;
        height: 104px;
        left: 597px;
        top: 188px;
        
    }

        #TitleFifthScreen {
            position: absolute;
            width: 390px;
            height: 28px;
            left: 13px;
            top: 10px;
            color: #ffffff;
          }

        #emailInput {
            position: absolute;
            width: 313px;
            height: 44px;
            left: 0px;
            top: 58px;

            padding-left: 25px;

            margin-top: 30px;
            border: none;

        }

        #checkButton {
            position: absolute;
            width: 66px;
            height: 46px;
            left: 340px;
            top: 58px;

            margin-top: 30px;
            border: none;
        }
        
        #checkButton:hover {
            background-color: #009CC2;
            cursor: pointer;
        }
        
    /*6 page*/
    
#sixthScreen {
    position: absolute;
    width: 1600px;
    height: 468px;
    left: 0px;
    top: 3530px;
}

    #contentPage6 {
        text-align: center;
    }

    #contentPage6_Title {
        position: absolute;
        width: 270px;
        height: 28px;
        left: 665px;
        top: 100px;

        color: #373737;
    }

    #contentPage6_text {
        position: absolute;
        width: 483px;
        height: 40px;
        left: 559px;
        top: 155px;
        
        color: #373737;
    }

    #appleButton {
        position: absolute;
        width: 188px;
        height: 50px;
        left: 597px;
        top: 238px;
    }
    #androidButton {
        position: absolute;
        width: 188px;
        height: 50px;
        left: 815px;
        top: 238px;
    }

    .buttonStore_left {
        position: absolute;
        width: 128px;
        height: 50px;
        left: 0px;
        top: 0px;

        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonStore_right {
        position: absolute;
        width: 60px;
        height: 50px;
        left: 128px;
        top: 0px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        background: #009CC2;
        border-radius: 0px;
    }

    #buttonStore_left_text {
        position: absolute;
        width: 95px;
        height: 16px;
        left: 19px;
        top: 0px;
        
        display: flex;
        align-items: flex-end;
        text-align: center;
    }
       
#footer{
        position: absolute;
        width: 1600px;
        height: 184px;
        left: 0px;
        top: 3998px;

        background: #000000;
 }


       #additionalMenu {
        position: absolute;
        width: 280px;
        height: 20px;
        left: 120px;
        bottom: 77px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
       }

     .divider{
         position: relative;
         width: 0px;
         height: 20px;
         bottom: 5px;
         transform: rotate(90deg);
         margin: 0px 20px;
         align-items: center;

         color: #4E4E4E;
     } 
     
     #footerLogo {
            
        position: absolute;
        width: 44px;
        height: 45px;
        left: 778px;
        bottom: 79px;

     }
     #copyright {
        position: absolute;
        width: 170px;
        height: 20px;
        left: 1293px;
        bottom: 76px;
        color: #818181;
     }

     .listItem:hover {
         cursor: pointer;
         text-decoration: underline;
     }